@import url(https://fonts.googleapis.com/css?family=ABeeZee);
@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Khula);

body {
    background-color: #2C3E50;
    margin: 0 auto;
    width: 40%;
    max-width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #E74C3C;
    padding: 10px; 
}

h1 {
    color: #2980B9;
    font-family: Khula;
    font-size: 200%;
    letter-spacing: 5px;
    text-align: center;
}

h2 {
    color: #ECF0F1;
    font-family: Khula;
    font-size: 120%;
    letter-spacing: 5px;
    text-align: center;
}
p  {
    color: #ECF0F1;
    font-family: ABeeZee;
    font-size: 160%;
    padding-left: 30%;
}

ul {
    color: #ECF0F1;
    font-family: ABeeZee;
    margin: 0 auto;
    width: 50%;
}

form {
    color: #ECF0F1;
    font-family: ABeeZee;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0 0 0;
}

input {
    font-family: Calibri;
    font-size: 90%;
    background-color: #ECF0F1;
    border: 0px;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #2980B9;
    border: none;
    color: #ECF0F1;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #3498DB;
    color: white;
}

input[type=submit]:active {
    transform: translateY(0.5px);
}

.list {
    font-family: ABeeZee;
    font-size: 75%;
    color: #ECF0F1;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
}

.ibutton {
    font-family: Allerta;
    text-align: center;
    text-decoration: none;
    background-color: #2980B9;
    margin: 0 auto;
    color: #ECF0F1;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    width: 200px;
    max-width: 100%;
    border-radius: 4px;
    
}

.ibutton:hover {
   background-color: #3498DB;
    color: white; 
}

.ibutton:active {
    transform: translateY(0.5px);
}

.abutton {
    font-family: Allerta;
    text-align: center;
    text-decoration: none;
    background-color: #2980B9;
    margin: 0 auto;
    color: #ECF0F1;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    width: 100px;
    border-radius: 4px;
    
}

.abutton:hover {
   background-color: #3498DB;
    color: white; 
}

.abutton:active {
    transform: translateY(0.5px);
}
