/listdemo/listdemo/nbproject/private/
/simple-jdbc/build/
/simple-jdbc/nbproject/private/
/Slit-v1/nbproject/private/
/Slit-v1.0.2 kopi/build/
/Slit-v1.0.2 kopi/nbproject/private/
/Slit-v1.0.2/build/
/Slit-v1.0.4.1/build/
/Slit-v1.0.4.1/nbproject/private/